.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Page CSS */

 
label{
  text-align: left;
}
input {
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
  text-align: left;
}
.friends {
  border: solid black;
  margin: 2%;
  width: 30%;
  height: 25vh;
  /* margin-left: 33%; */
}
img {
  width: 10%;
}
